<p id="notice"><%= notice %></p>

<p>
  <strong>Space:</strong>
  <%= @task_send_setting.space_id %>
</p>

<%= link_to 'Edit', edit_task_send_setting_path(@task_send_setting) %> |
<%= link_to 'Back', task_send_settings_path %>
