<div class="row">
<% unless user_signed_in? %>
  <div class="col-12 col-md-12 px-2 pb-2">
    <div class="card card-body">
      <h5 class="card-title mb-3">
        【開発中】タスクを一覧やカレンダーで管理し、チームで共有できます。
      </h5>
      <div class="card-text">
        設定した間隔でリマインド（Slack対応）する事で、忘れやすい年次タスクの実施忘れや、メンバー間の譲り合いによる実施漏れを防ぐ事ができます。
        <ul>
          <li>定期（年次・月次・週次）の設定で、次回タスクの設定漏れも防げます。</li>
          <li>【対応予定】タスクはグループ化して、先行タスク終了後に後続タスクのリマインドを開始する事もできます。</li>
          <li>【対応予定】営業日を設定する事で、前後の営業日にリマインドする事もできます。</li>
        </ul>
        <br>
        ソースコード公開中: <a href="https://dev.azure.com/nightonly/nightonly-app" target="_blank" rel="noopener noreferrer">https://dev.azure.com/nightonly/nightonly-app</a>
      </div>
    </div>
  </div>
<% end %>
  <div class="col-12 col-md-6 px-2 pb-2">
<% unless user_signed_in? %>
    <%= render 'sign_up' %>
<% else %>
    <%= render 'space' %>
<% end %>
  </div>
  <div class="col-12 col-md-6 px-2 pb-2">
    <%= render 'infomations' if @infomations.present? %>
  </div>
</div>
